table 
{
	border-collapse: collapse; 
	align-content: center;
	margin-left: 0%; 
}

th
{
   padding: 5px 40px;
   vertical-align: middle;
   align-content: center;
   text-align: center;
   
}

tr 
{
  border-bottom: solid 1px black; 
  padding: 5px 40px;
  vertical-align: middle;
  align-content: center;
  text-align: center;
   
}
td 
{
  border-top: solid 1px black; 
  padding: 5px 40px;
  vertical-align: middle;
  align-content: center;
  text-align: center;
 }
 
 
 div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}